{% extends "base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to our Profile Profile Update</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your profile</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <form method="post" action="{% url "update_profile" %}">
                    {% csrf_token %}
                 {{form}}
                 <br/><br/><br/><br/>
<strong>Shipping Information</strong>
                 {{shipping_form}}
                 <br><br>
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                    <br>
<a href="{% url "update_password" %}">Want to update password?</a>
                  </form>

                   <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock content %}