<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Email</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <div class="header">
        
        </div>
        <div class="content">
            This is a test email
        </div>
        <form method="post" action="{% url "send_us" %}">
        {% csrf_token %}
            <input type="text" name="email" placeholder="email">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
        <button type="submit">submit nigger</button>
        </form>
        <div class="footer">
            <p>Thanks</p>
        </div>
    </div>
</div>
</body>
</html>